html { 
    font-family: sans-serif; 
    background: #798ba3; 
    padding: 1rem; 
}
header {  
    background-color: #17263a;  
    position: fixed;  
    left: 0;  
    right: 0;  
    top: 0px;  
    height: 40px;  
    display: flex;  
    align-items: center;  
    box-shadow: 0 0 25px 0 black;  
}  
header * {  
    display: inline;  
}  
header li {  
    margin: 20px;
    text-align: center; 
}  
header li a {  
    color: #ffffff;  
    text-decoration: none;  
} 
body { 
    background: #17263a; 
}
h1 { 
    font-family: serif; 
    color: #ffffff; 
}
input[type=submit] { 
    min-width: 10em; 
}
label {
    font-family: serif; 
    color: #ffffff;
}
p {
    font-family: serif; 
    color: #ffffff;
}
.loading div {
    height: 100px;
    width: 100px;
    position: relative;
    border: 3px #ffffff;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}
.loading img {
    height: 100px;
    width: 100px;
    position: relative;
    border: 3px #ffffff;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}
.content {
    height: 200px;
    position: relative;
    border: 3px #ffffff;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.logo {
    margin: 20px;
    height: 30px;
}
.leaguebody {
    background: #798ba3; 
}
.leaguelist {
    border: 100px #ffffff;
}
.leaguelist td { 
    background: #17263a;
    padding: 15px;
    margin: 5px;
    text-align: center; 
    list-style-type: none;
}
.leaguelist td a {
    color: #ffffff;  
    text-decoration: none;
}